body {
    margin:0px;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#ddd;
  }
  .text-typing {
    padding:20px 30px;
    background:#f5f5f5;
    font-size:35px;
    font-family:monospace;
    border-radius:50px;
  }
  .text-typing p {
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s  ,
              blink 1s infinite;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
  }
