* {
  padding: 0;
  margin: 0;
}

:root {
  --background: #f1f7fe;
  --primary: #3d4785;
  --primaryLight: #48549c;
  --white: #fff;
  --error: #d9534f;
  --text: grey;
  --boderRadius: 10px;
  --contentPadding: 1em 0.5em;
  --contentMargin: 1em 0;
}

body {
  background-image: url("./image/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  margin: 4em auto;
  background-color: var(--background);
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: var(--boderRadius);
  position: relative;
  max-width: 400px;
}

img {
  height: 100px;
}

.inputContainer {
  background-color: var(--white);
  border-radius: var(--boderRadius);
  margin: var(--contentMargin);
  padding: var(--contentPadding);
  color: var(--text);
  width: 70%;
}

input {
  border: none;
  margin: 0 0.5em;
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--text);
}

button {
  background: var(--primary);
  color: white;
  border: none;
  width: 70%;
  border-radius: var(--boderRadius);
  margin: var(--contentMargin);
  padding: var(--contentPadding);
  cursor: pointer;
}

button:hover {
  background-color: var(--primaryLight);
}

.inputLine {
  margin-top: 0.5em;
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
}

.logo {
  height: 20px;
}

#error {
  color: var(--error);
  font-weight: bold;
}
